bcrypt==5.0.0
blinker==1.8.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
cryptography==47.0.0
et-xmlfile==2.0.0
flask==3.0.3
gunicorn==23.0.0
idna==3.15
itsdangerous==2.2.0
jinja2==3.1.6
MarkupSafe==2.1.5
netmiko==4.4.0
ntc-templates==7.9.0
openpyxl==3.1.5
packaging==26.2
paramiko==3.5.1
pycparser==2.23
pynacl==1.6.2
pyserial==3.5
python-dotenv==1.0.1
PyYAML==6.0.3
requests==2.32.4
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.8
scp==0.15.0
textfsm==2.1.0
typing-extensions==4.13.2
urllib3==2.2.3
werkzeug==3.0.6
zipp==3.20.2